.disabled_shadow.simple_screenshot_bg {
  background: none;
}
.simple_screenshot_bg {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: block;
  cursor: crosshair;
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
  .jcrop-box {
    background: none !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
}