body {
  background: #225b83;
  font-family: Arial;
  .title_404 {
    color: #ffffff;
  }
  .editor_box {
    width: 900px;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    .image_cropped {
      max-width: 100%;
      height: auto;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
      display: inline-block;
    }
    .copyright_text {
      color: #ffffff;
      font-style: italic;
    }
  }
}